body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.containersa {
    display: flex;
    width: 1180px;
    margin: auto;
    justify-content: center;
    padding: 0 20px;
    gap: 50px;
}
header {
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-bottom: 60px;
}
.header-title {
    font-size: 14px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}
a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

a:hover {
    text-decoration: underline;
}

footer {
    width: 1080px;
    margin: auto;
    color: #fff;
    padding: 20px 0;
}
.container {
    display: flex;
    width: 1180px;
    margin: auto;
    justify-content: center;
    padding: 0 20px;
    gap: 50px;
}
.menu, .contacts {
    flex: 1;
}

h3 {
    margin: 0 0 10px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

a:hover {
    text-decoration: underline;
}

.footer-bottom {
    color: #878787;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 5px 0;
}

.logo {
    color: #8A2BE2;
    font-weight: bold;
    font-size: 16px;
}
.events {
    gap: 20px;
}

.events a {
    display: inline-block;
    margin: 0;
    flex: 1;
    text-align: center;
}

.title-name{
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size:48px;
    line-height:62.7px;
    text-align: center;

}

.orchestra-name {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size:24px;
    line-height:33.6px;

}

.soloist {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size:16px;
    line-height:22.4px;

}

.description {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size:16px;
    line-height:22.4px;

}

.concert-program {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size:24px;
    line-height:33.6px;

}

.first-part {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size:16px;
    line-height:22.4px;

}

.second-part {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size:24px;
    line-height:33.6px;

}

.ticket-price {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size:24px;
    line-height:33.6px;

}


.concert-container {
}

.orchestra-info {
    display: flex;
    gap: 134px;
}

.orchestra-details {
    width: 526px ;
    height: 742px ;
    margin-left: 312px;

}

.concert-description {
    width:636px ;
}

.order-button {
    width:178px ;
    height:51px ;
    border-radius: 50px;
    color: white;
    background-color: #05B093;
    text-decoration: none;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.images-container {
    display: flex;
    gap: 24px;
    margin-bottom: 150px;
}

.concert-image {
    width: 306px;
    height: 210px;
}

